{
  "pbf_path": "/workspace/Data/planet-latest.osm.pbf",
  "osm_folder_path": "/workspace/Data/osm/",
  "qgis_project_path": "/workspace/Data/qgis-project/QGIS/MinecraftEarthTiles.qgz",
  "scripts_folder_path": "/workspace/Data/",
  "qgis_bathymetry_project_path": "/workspace/Data/qgis-bathymetry/QGIS/MinecraftEarthTiles_Bathymetry.qgz",
  "qgis_terrain_project_path": "/workspace/Data/qgis-terrain/QGIS/MinecraftEarthTiles_Terrain.qgz",
  "qgis_heightmap_project_path": "/workspace/Data/qgis-heightmap/QGIS/MinecraftEarthTiles_Heightmap.qgz",
  "world_name": "Your_World_Name",
  "threads": 15
}