{
  "pbf_path": "",
  "osm_folder_path": "",
  "qgis_project_path": "",
  "scripts_folder_path": "",
  "qgis_bathymetry_project_path": "",
  "qgis_terrain_project_path": "",
  "qgis_heightmap_project_path": "",
  "world_name": "",
  "threads": 15
}